<!-- in form, action = where to submit the form (url) -->
<!-- method = what type of http request (get, post, put, etc.) -->

<form action="/search/movie" method="post">
    <input type="text" name="movieTitle" placeholder="Enter Your Movie Search Here">
    <input type="submit" class="btn btn-primary" value="argh!">
</form>

<!-- on an input box, name attribute is what the variable will be called on submission -->